* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,ol {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; 
    border: 2px solid red;
}

section {
    margin: auto;
    display: flex;
    width: 100%;
    border: 2px solid red;
}

.section-item {
    background-color: #2D3E4F;
    border: 2px solid red;
    width: 1140px;
    height: auto;
}

.section-title {
    background-image: url(/img/IMAGE\ \(10\).png);
    background-size: 100%;
    padding: 486px;
    background-repeat: no-repeat;
    width: 1140px;
}